import json
import nonebot


nonebot.logger.remove()
nonebot.init()
driver = nonebot.get_driver()
schema = driver.config.model_json_schema()
config = json.loads(driver.config.model_dump_json())
print(json.dumps({"schema": schema, "config": config}))
