import json
import nonebot


nonebot.logger.remove()
nonebot.init()
driver = nonebot.get_driver()
schema = json.loads(driver.config.schema_json())
config = json.loads(driver.config.json())
print(json.dumps({"schema": schema, "config": config}))
